.addComment {
  display: flex;
  flex-wrap: wrap;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 0;
  border: 1px solid black;
  width: auto;
  max-width: 600px;
  position: relative;
  box-sizing: border-box;
}
.imageContainer > img {
  width: 300px;
  height: 300px;
  margin: 0;
}
.imageContainer > p{
  margin: 0 5px;
}
