.chatbox__main__list {
  padding: 5px 0;
  list-style: none;
  max-height: calc(100vh - 207px);
  overflow: auto;
}
.chatboxListItem {
  padding: 5px 15px;
  cursor: pointer;

  & > img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  &:hover {
    background-color: #efefef;
  }
}
