{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/users.css' %}">
  </head>
  <body>
  <h1> add image </h1>
  <form method="post" enctype="multipart/form-data" class="addImage">
    {% csrf_token %}

    <select name="user" required id="id_user" class="hide">
      <option value={{request.user.id}}>{{request.user}}</option>
    </select>

    {{form.picture.label}}
    {{form.picture}}

    {{form.description.label}}
    {{form.description}}

    <button type="submit" class="btn btn-primary">Add image</button>

  </form>
  {{form.errors}}
  <a href="../{{request.user}}">wróc do profilu</a>
  <br/>
  <a href="../">wróc do strony głównej</a>

  </body>
</html>
