{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/users.css' %}">
  </head>
  <body>
    <h1> Change profile settings: </h1>

    <form method="POST" action="" enctype="multipart/form-data" class="profileSettings">
      {% csrf_token %}
      <div class="hide">
        User
        <select name="user" required id="id_user">
          <option value={{request.user.id}}>{{request.user}}</option>
        </select>
      </div>
      <div>
        {{form.picture.label}}
        {{form.picture}}
      </div>
      {{form.description.label}}
      {{form.description}}

      <button class="btn btn-secondary" type="submit" name="button">Change</button>

    </form>

    <a href="../{{request.user}}">Back to User Profilu</a>
    <br/>
    <a href="../">Back to Home</a>
  </body>
</html>
