.bodyColor {
  background: #41AC41;
}
.rel {
  position: relative;
}
.users {
  background: #fff;
  width: 100px;
  position: absolute;
  top:33px;
  left:0px;
}
.users > p {
  text-align: center;
}
.register {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
