.addPhoto {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.addPhoto > * {
  margin: 5px 0;
}
.addPhoto > textarea {
  min-width: 200px;
  min-height: 100px;
}
